<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.instagram.com/kj_is__here_/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-square-instagram" style="color: white;"></i>
      </a>
      <a href="www.linkedin.com/in/kartik-joshi-31a509330" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-square-linkedin" style="color: white;"></i>
      </a>
    </div>
    <div>&copy; TravelDen Privated Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
